
<!--<!DOCTYPE html>
<html lang="en">
<head>
  <title>project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">placements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.html">Contact us</a>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
    <h1 style="font-size:x-large;color: lightseagreen;">Courses</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
    <div class="class-body">
        <h1 style="font-size: large;color: indianred;text-align: center;">Angular</h1>
           <pre style="font-size:small;" >
            The architecture of an Angular application 
            relies on certain fundamental concepts. 
            The basic building blocks are NgModules, 
            an Angular  defined by a set of NgModules.
            An app always has at least a
             root module that enables bootstrapping,
            and typically has many more feature.
            Components define views,
        </pre>  
    </div>
    </div>
    </div>
    <div class="col-md-4">
        <div class="card">
    <div class="class-body">
        <h2 style="font-size: large;color: indianred;text-align: center;">Java script</h2>
           <pre style="font-size:small;" >
            JavaScript, often abbreviated as JS, 
            is a programming language that conforms
             to the ECMAScript specification.
            JavaScript is high-level, 
            often just-in-time compiled,multi-paradigm. 
            It has curly-bracket syntax,dynamic typing,
            prototype-based object-orientation,
            and first-class functions.
        </pre>  
    </div>
    </div>
    </div>
    <div class="col-md-4">
        <div class="card">
    <div class="class-body">
        <h2 style="font-size: large;color: indianred;text-align: center;">DotNet</h2>
           <pre style="font-size:small;" >
            .NET Framework is a software framework 
            developed by Microsoft that 
            runs primarily on Microsoft Windows.
            It includes a large class library 
            named as Framework Class Library and 
            provides language interoperability 
            across several programming languages. 
            .Net is also an essential courses.
        </pre>  
    </div>
    </div>
    </div>
</div>
<div class="container-fluid">
<div class="card-footer">
    <a class="About us.html"href="#">About us</a>
    
</div>
</div>
</body>
</html>-->

<app-demo></app-demo>
<!--<test-app></test-app>
<app-demo></app-demo>-->
<app-second></app-second>